body {
margin: -5px;
height: 1500px;
font-family:'Trebuchet MS';
}

aside {
position: fixed;
}

.left-side {
float: left;
width: 400px;
height: 750px;
background-color: #87CEEB; /* For browsers that do not support gradients */
background-image: linear-gradient(to bottom right,  #ADD8E6, #87CEFA);
border-right: 2px solid blue;
}

p.section {
font-size: 30px;
color: #4169E1;
border-bottom: 2px solid #4169E1;
}

p.name {
margin-right: 20px;
font-size: 40px;
font-weight: bold;
text-align: center;
}

p.justify{
text-align: justify;
}

footer{
font-size: 12px;
text-align: center;
border: 2px dashed #4169E1;
}

p.about-me {
font-size: 20px;
text-align: left;
font-weight: bold;
text-decoration:underline;
line-height: 5px;
}

p.personal-info {
font-size: 20px;
text-align: left;
font-weight: bold;
line-height: 5px;
}

.inside-left {
margin: 70px 40px 0 30px;
}

main {
float: right;
width: 1100px;
margin: 50px 40px 0 30px;
}

p.date{
text-align: right;
color: #4169E1;
margin-bottom: -15px;
}

.margin-bottom {
margin-bottom: -15px;
}

.languages{
font-weight: normal;
width: 200px;
text-align: left;
}

.disc {
list-style-type: circle;
}

.list {
margin-left: 20px;
}

